<div class="row mt-5">
    <div class="col-12 d-md-flex d-sm-block" *ngFor="let item of product">
        <div class="col-md-6 col-sm-12">
            <div class="card w-75 shadow p-3 mb-5 bg-white rounded">
                <img [src]="item.image" width="250" height="250" class="img-fluid mx-auto" alt="">
                <div class="card-header">
                    <div class="d-md-flex d-sm-block">
                        <button class="w-100 p-3 btn btn-primary" (click)="AddToCart(item)"><span class="bi bi-cart2"></span>ADD TO CART</button> &nbsp;
                        <button class="w-100 p-3 btn btn-warning text-white" (click)="buynow(item)" routerLink="/payment"><span class="bi bi-lightning"></span>BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <p>{{item.title}}</p>
            <p><span class="bg-success border rounded"><span class="p-2 bi bi-star-fill text-white ">{{item.rating.rate}}</span></span>&nbsp; <span>{{item.rating.count}} Rating</span> <br>
            </p>
            <p>{{item.price | currency:"₹"}}</p>
            <p>{{item.description}}</p>
        </div>
    </div>
</div>