<div>
    <!-- <p>Congratulations! Your payment was successful.</p>
    <p><strong>Contact Support: </strong>If you have any questions or concerns regarding your order, feel free to reach out to our customer support team. We're here to help!</p>
    <p>Thank you for shopping with us! We appreciate your business.</p> -->
    <div class="card w-50 mx-auto mt-5">
        <div class="card-header">
            Congratulations! Your payment was successful.
        </div>
        <div class="card-body">
            <strong>Amount:</strong>
        </div>
        <div class="card-footer">
            <p><strong>Contact Support: </strong>If you have any questions or concerns regarding your order, feel free to reach out to our customer support team. We're here to help!</p>
            <p>Thank you for shopping with us! We appreciate your business.</p>
        </div>
    </div>
</div>
